body {
  max-width: 100%;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Montserrat Light", Calibri, sans-serif; }
  body .navbar {
    display: flex;
    flex-direction: column;
    width: 70px;
    cursor: pointer;
    position: fixed;
    width: 70px; }
    body .navbar .horizontal-line {
      background: #000;
      border-radius: 10px;
      height: 7px;
      margin: 7px 0;
      transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6); }
  body .parent {
    overflow: scroll;
    height: 100vh;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory; }
    body .parent section {
      height: 100vh;
      scroll-snap-align: start;
      position: relative; }
    body .parent .container1 {
      background-color: #1badac;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column; }
      body .parent .container1 .img-notes {
        width: 30em;
        position: absolute;
        right: 0;
        top: 0; }
      body .parent .container1 h1 {
        margin: 0;
        font-size: 8em;
        color: white;
        letter-spacing: 0.2em; }
      body .parent .container1 h3 {
        margin: 0;
        font-size: 2em;
        color: #255e63;
        letter-spacing: 0.2em; }
      body .parent .container1 .navigation .fa-mouse {
        color: white;
        position: absolute;
        bottom: 7%;
        transition: bottom ease 0.5s; }
      body .parent .container1 .navigation .fa-mouse:hover {
        bottom: 10%; }
      body .parent .container1 .navigation .line {
        border-left: 1px solid white;
        height: 40px;
        position: absolute;
        left: 50%;
        margin-left: 7px;
        bottom: 0; }
    body .parent .container2 {
      background-color: #fef5b2;
      height: 100vh;
      display: flex;
      justify-content: center; }
      body .parent .container2 .metronome {
        height: 50em;
        align-self: flex-start; }
      body .parent .container2 .text2 {
        padding-top: 150px;
        padding-left: 200px; }
        body .parent .container2 .text2 h6 {
          font-size: 2em;
          margin: 0;
          color: #e5695d; }
        body .parent .container2 .text2 p {
          font-size: 0.9em;
          line-height: 1.5em;
          color: #c93b2d;
          width: 50%; }
    body .parent .container3 {
      background-color: #e5695d;
      height: 100vh;
      display: flex;
      justify-content: center; }
      body .parent .container3 .text3 {
        margin-top: 150px;
        margin-left: 150px; }
        body .parent .container3 .text3 h6 {
          font-size: 2em;
          margin: 0;
          color: #fef5b2; }
        body .parent .container3 .text3 p {
          font-size: 0.9em;
          line-height: 1.5em;
          color: #fef5b2;
          width: 75%; }
      body .parent .container3 #img-sax {
        width: 16em;
        align-self: flex-end;
        margin-right: -50px;
        z-index: 4;
        animation-name: sax-animate;
        animation-duration: 3s; }
@keyframes sax-animate {
  0% {
    opacity: 0; }
  25% {
    opacity: 25%; }
  50% {
    opacity: 50%; }
  100% {
    opacity: 100%; } }
      body .parent .container3 #img-sax:hover {
        background: url("assets/pictures/saxophone-border.svg"); }
      body .parent .container3 #img-key {
        width: 15em;
        align-self: flex-end;
        margin-right: -50px;
        z-index: 2;
        animation-name: key-animate;
        animation-duration: 5s; }
@keyframes key-animate {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  40% {
    opacity: 30%; }
  75% {
    opacity: 60%; }
  100% {
    opacity: 100%; } }
      body .parent .container3 #img-key:hover {
        background: url("assets/pictures/keyboard-border.svg"); }
      body .parent .container3 #img-cello {
        width: 18em;
        align-self: flex-end;
        margin-right: -10px;
        z-index: 3;
        animation-name: cello-animation;
        animation-duration: 2s; }
@keyframes cello-animation {
  0% {
    opacity: 0; }
  10% {
    opacity: 10%; }
  50% {
    opacity: 30%; }
  80% {
    opacity: 80%; }
  100% {
    opacity: 100%; } }
      body .parent .container3 #img-cello:hover {
        background: url("assets/pictures/cello-border.svg"); }
      body .parent .container3 #img-flute {
        width: 4.5em;
        align-self: flex-end;
        margin-right: 70px;
        z-index: 1;
        animation-name: flute-animation;
        animation-duration: 5s; }
@keyframes flute-animation {
  0% {
    opacity: 0; }
  40% {
    opacity: 10%; }
  80% {
    opacity: 80%; }
  100% {
    opacity: 100%; } }
      body .parent .container3 #img-flute:hover {
        background: url("assets/pictures/flute-border.svg"); }
    body .parent .container4 {
      background-color: #255e63;
      height: 100vh;
      display: flex;
      justify-content: center; }
      body .parent .container4 .motion-capture {
        width: 60%;
        height: 100vh;
      }
      body .parent .container4 .motion-capture .mute-switch {
        bottom: 5%;
        right: 45%;
        z-index: 25;
        width: 50px;
        height: 50px;
        position: absolute;
        display: none;
      }
      body .parent .container4 .motion-capture .camera-feed {
        height: 100vh;
        display: none;
        float: right;
        width: auto;
        position: relative;
        flex-grow: 0;
        flex-shrink: 4;
        flex-basis: 50vw;
        object-fit: cover;
      }
      body .parent .container4 .motion-capture .canvas {
        display: none;
        position: absolute;
        z-index: 15;
        flex-grow: 0;
        flex-shrink: 4;
        flex-basis: 50vw;
        object-fit: cover;
      }
      body .parent .container4 .motion-capture .estimated-gesture {
        display: none;
        position: absolute;
        z-index: 20;
        flex-grow: 0;
        flex-shrink: 4;
        flex-basis: 50vw;
        object-fit: cover;
        margin: 2%;
      }
      body .parent .container4 .motion-capture .estimated-gesture p {
        font-size: 2em;
          margin: 0;
          color: #FEF5B2; }
          body .parent .container4 .motion-capture .bg-video {
        height: 100vh;
        float: right;
        width: auto;
        position: relative;
        flex-grow: 0;
        flex-shrink: 4;
        flex-basis: 50vw;
        object-fit: cover;
        right: 0%;
         }
      body .parent .container4 .text4 {
        z-index: 20;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 25%;
        margin-top: 150px;
        margin-left: -120px; }
        body .parent .container4 .text4 h6 {
          font-size: 2em;
          margin: 0;
          color: #fef5b2; }
        body .parent .container4 .text4 p {
          font-size: 0.9em;
          line-height: 1.5em;
          color: #fef5b2;
          width: 75%; }
          body .parent .container4 .text4 .motion-switch {
        z-index: 25;
        width: 50px;
        height: 50px;
      }
    body .parent .container5 {
      background-color: #1badac;
      height: 100vh;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column; }
      body .parent .container5 .text5 {
        padding-top: 50px;
        padding-bottom: 50px; }
        body .parent .container5 .text5 h6 {
          font-size: 2em;
          color: #255e63;
          margin: 0; }
      body .parent .container5 video {
        max-width: 70%;
        height: auto; }
    body .parent .container6 {
      background-color: #ecb865;
      height: 100vh; }
      body .parent .container6 .teamfotos {
        display: flex;
        justify-content: center;
        height: 17em;
        padding-top: 5em;
        margin: auto; }
        body .parent .container6 .teamfotos .img-lars {
          margin-left: 10px; }
        body .parent .container6 .teamfotos .img-marina {
          margin-left: 10px; }
        body .parent .container6 .teamfotos .img-marie {
          margin-left: 10px; }
        body .parent .container6 .teamfotos .img-anka {
          margin-left: 10px; }
      body .parent .container6 .text6 {
        margin-top: 100px;
        margin-left: auto;
        width: 75%; }
        body .parent .container6 .text6 h6 {
          font-size: 2em;
          margin: 0;
          color: #255e63; }
        body .parent .container6 .text6 p {
          font-size: 0.9em;
          line-height: 1.5em;
          color: #255e63;
          width: 75%; }

/*# sourceMappingURL=style.css.map */
